<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../static/js/materialize.min.js"></script>
  <link rel="stylesheet" href="../static/css/userProfile.css">
  </head>
  <body>
  <h1 class="title-pen"> User Profile <span>UI</span></h1>
<div class="user-profile">
	<img class="avatar" src="https://pbs.twimg.com/profile_images/2753097667/471b1b700c95affe5b8ee7cc37bd11b6.jpeg" alt="Ash" />
    <div class="username">Tony Stark</div>
  <div class="bio">
  	Senior UI Designer
  </div>
    <div class="description">
      I use to design websites and applications
      for the web.
  </div>
  <ul class="data">
    <li>
      <span class="entypo-trophy"> 127</span>
    </li>
    <li>
      <span class="entypo-eye"> 853</span>
    </li>
    <li>
      <span class="entypo-user"> 311</span>
    </li>
 </ul>
</div>
</body>
 </html>